:root {
    --branding-color: black;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Popins", sans-serif;
}
body {
    background-color: pink;
}
h2 {
   font-size: 64px;
}
h3 {
    font-size: 48px;
}
.hero {
    background: #F9F7FE;
    text-align: center;
    padding: 80px 20px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.hero h1{
color: black;
font-family: var(--heading-font-family);
font-size: 96px;
font-weight: bold;
line-height: 1.5;
}
.hero h2 {
font-family: var(--default-font-family);
color: black;
font-weight: normal;
font-size: 28px;
line-height: 1.4;
}
.logo {
    max-height: 100px;
}

nav {
    padding: 20px 0;

}
nav li {
    display: inline;
    list-style: none;
line-height: 42px;
margin-left: 15px;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav a{
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease;
}
nav a:hover,
nav li.active a {
    color: var(--branding-color)
}
.hero h3 {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
}
.content-container {
    padding: 60px 20px;

}
.content h1 {
    font-size: 64px;
    line-height: 80px;
    font-family: var(--heading-font-family);
}
.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
line-height: 1.5;
}
.content {
    margin: 30px;
}
.content p {
    font-size: 14px;
}
.contact-page {

    text-align: center;
}
.btn-branding {
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline {
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;  
}
.project-description {
    padding: 120px 60px;
}
footer {
    margin: 60px 0;
}
footer .contact-box {
    background: var(--default-font-family);
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-box p {
    margin: 0;

}
footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}
footer .email-link:hover {
    color: var(--branding-color);
}
footer social-links a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--default-font-family);
    padding: 10px 14px;
    border-radius: 50px;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
    color: white;
    background: var(--branding-color)
}

@media (max-width:900px) {
   .hero h1 {
        font-size: 48px;
        line-height: 2;
    }
   .hero h2 {
        font-size: 44px;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 26px;
    }

    .project-description {
        padding: 0;
        text-align: center;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    .content h1 {
        font-size: 36px;
    }
    .content-container {
        padding: 0;
        text-align: center;
    }
    nav a {
        font-size: 12px;
    }
}