:root {
    --branding-color: black;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Popins", sans-serif;
}
body {
    background-color: pink;
}
h2 {
   font-size: 64px;
}
.hero {
    background: #F9F7FE;
    text-align: center;
    padding: 160px 20px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}
.hero h1{
color: black;
font-family: var(--heading-font-family);
font-size: 96px;
font-weight: bold;
line-height: 1.5;
}
.hero h2 {
font-family: var(--default-font-family);
color: black;
font-weight: normal;
font-size: 28px;
line-height: 1.4;
}

.hero h3 {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
}
.content-container {
    padding: 160px 20px;

}
.content h1 {
    font-size: 64px;
    line-height: 80px;
    font-family: var(--heading-font-family);
}
.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}
.content h3 {
    font-size: 24px;
    font-family: var(--default-font-family);
line-height: 1.5;
}
.content {
    margin: 30px;
}
.content p {
    font-size: 14px;
}
.btn-branding {
    background-color: pink;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn-branding-outline {
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    color: var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;  
}
.project-description {
    padding: 120px 60px;
}

@media (max-width:900px) {
   .hero h1 {
        font-size: 48px;
        line-height: 2;
    }
   .hero h2 {
        font-size: 44px;
    }
    .hero {
        padding: 80px 20px;
    }
    h2 {
        font-size: 44px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    .content h1 {
        font-size: 36px;
    }
    .content-container {
        padding: 0;
    }
}